[user]
  name = Merik W
  email = merikwood@gmail.com
[core]
  editor = nano
[alias]
  go = checkout
  gob = checkout -b
  co = commit
  st = status
  br = branch
  showskip = !git ls-files -v | grep '^S'
  skip = update-index --skip-worktree
  delbr = branch -D
  undo = !git reset --hard && git clean -fd
  stepdown = reset HEAD
  back = !sh -c 'git reset HEAD~$1' -
  showbr = !git branch | grep -v 'develop\\|master\\|\\*'
  stuff = stash --keep-index -u
  count = rev-list --count HEAD
  # This pushes local upmaster branch to remote upstream master branch, 
  # then rebases any upmaster changes onto local master (ie: work specific branch) 
  # and then pushes the local master branch to the work remote master branch
  gpush = !git push upstream upmaster:master && git checkout master && git rebase upmaster && git push origin master
  # This pulls remote master branch into local master 
  # and pulls upstream master into local upmaster
  # and then rebases any upstream changes into master
  # To avoid confusion probably should gpush after an update but I'm not sure if holding off will break anything
  gupdate = !git checkout master && git pull origin master && git checkout upmaster && git pull upstream master && git checkout master && git rebase upmaster master && git push origin master
