[user]
  name = Merik W
  email = merikwood@gmail.com
[core]
  editor = nano
[alias]
  go = checkout
  gob = checkout -b
  co = commit
  st = status
  br = branch
  showskip = !git ls-files -v | grep '^S'
  skip = update-index --skip-worktree
  delbr = branch -D
  undo = !git reset --hard && git clean -fd
  stepdown = reset HEAD
  back = !sh -c 'git reset HEAD~$1' -
  showbr = !git branch | grep -v 'develop\\|master\\|\\*'
  stuff = stash --keep-index -u
  count = rev-list --count HEAD
  # This pushes local upmaster branch to remote upstream master branch, 
  # then rebases any upmaster changes onto local master (ie: work specific branch) 
  # and then FORCE pushes the local master branch to the work remote master branch
  gpush = !git push upstream upmaster:master && git checkout master && git rebase upmaster && git push --force origin master
  # FORCE pulls work remote master branch wiping any local changes
  gpull = !git checkout master && git fetch origin master && git reset --hard origin/master
